.footer{
  padding: 95px 0;
  background-color:#1C1E53 !important;
}
.logo{
  width: 160px;
  height: 32px;
  color:var(--White);
}
.footer__text{
  max-width: 399px;
  margin-top: 24px;
  color: var(--White);
  opacity:.8;
  font-family:var(--Poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.footer__text:nth-child(2){
  margin-top: 14px;
}
.form{
  max-width: 517px;
  padding: 18px 35px;
  background: #FCD980;
}
label, input{
  display: block;
  border:none;
  outline:none;
  background: transparent;
}
label{
  color: var(--Dark-blue);
  font-family: var(--Poppins);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; 
}
input::placeholder{
  color: var(--Dark-blue);
  opacity: .8;
  font-family: var(--Poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
}
.form{
  display: flex;
}
.footer__right{
  display: block;
  margin-top: 0;
}
.footer__right h2{
  max-width: 333px;
  margin-top: 0;
  font-family: var(--Poppins);
  color:var(--White);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; 
}
.footer__icon{
  display: flex;
  gap: 26px;
}
.footer__icon i{
  font-size: 18px;
  color:var(--White);
}