@import "../themes/var.css";
@import "../base/reset.css";
@import "../layout/header.css";
@import "../layout/footer.css";
@import "../themes/dark.css";
.navbar {
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    background-color: #1c1e53 !important;
}
.contact {
    padding: 128px 0;
}
.contact h2 {
    color: var(--Dark-blue);
    text-align: center;
    font-family: var(--Poppins);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}
:root {
    --Poppins: "Poppins", sans-serif;
    --Dark-blue: #282938;
    --White: #fff;
    --Text-color: #282938;
    --Yellow: #fcd980;
    --Grey: #f4f6fc;
}
.btn-1:not(.btn-2) {
    border-radius: 41px;
    font-family: var(--Poppins);
    /* background: #FCD980 !important; */
    display: inline-flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
}
.contact p {
    max-width: 562px;
    margin-top: 16px;
    margin: 0 auto;
    color: var(--Dark-blue);
    text-align: center;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.form1 {
    max-width: 1061px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 77px;
    border-radius: 12px;
    background: var(--Grey);
}
textarea {
    max-width: 908px;
    padding: 18px 32px;
    margin-bottom: 125px;
    display: flex;
    height: 138px;
    padding: 18px 32px;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}
textarea::placeholder {
    color: #000;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
} 
.message {
    margin-top: 16px;
}
label {
    margin-top: 24px;
    text-align: left;
    color: #000;
    font-family: var(--Poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}
input {
    width: 100%;
    display: inline-flex;
    padding: 18px 32px;
    background: transparent;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}
/* .btn-5{
  border-radius: 41px;
  font-family: var(--Poppins);
  background: #FCD980 !important;
   display: inline-flex;
  padding: 16px 56px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
} */
.dark .form1{
    background: #e7e2d5 !important;
    box-shadow: 0px 0px 10px 5px #ffd2a4;
}
.dark textarea{
   background: #e7e2d5 !important; 
}
.dark label{
    background: #e7e2d5 !important;
    color:#000;
}
.dark input{
    background: #e7e2d5 !important;
    color:#000;
}
.dark .subject{
    background: #e7e2d5 !important;
}
.dark .name{
    background: #e7e2d5 !important;
}
.dark .email{
    background: #e7e2d5 !important;
}
.dark input::placeholder{
    color:var(--Dark-blue);
}
.dark .contact h2{
    color:#fff;
}
.dark .contact p{
    color:#fff;
}
.dark #navbar{
    background: #000 !important;
}
.dark *{
    color:white;
}
.dark *{
    background: #000;
}

#loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.75);
}

#loading.loading-none {
    opacity: 0;
    z-index: -1;
}

@keyframes ldio-zxbwzzspus {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.ldio-zxbwzzspus div {
    left: 95px;
    top: 48px;
    position: absolute;
    animation: ldio-zxbwzzspus linear 1s infinite;
    background: #cb6f6f;
    width: 10px;
    height: 24px;
    border-radius: 5px / 12px;
    transform-origin: 5px 52px;
}
.ldio-zxbwzzspus div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #cb6f6f;
}
.loadingio-spinner-spinner-9qtw80gtmdb {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}
.ldio-zxbwzzspus {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    transform-origin: 0 0;
}
.ldio-zxbwzzspus div {
    box-sizing: content-box;
}