@import "../themes/var.css";
@import "../base/reset.css";
@import "../layout/header.css";
@import "../layout/footer.css";
@import "../themes/dark.css";
.navbar {
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    background-color: #1c1e53 !important;
}
.pricing {
    padding: 128px 0;
    width: 100%;
}
.pricing h2 {
    color: var(--Dark-blue);
    font-family: var(--Poppins);
    font-size: 48px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}
:root {
    --Poppins: "Poppins", sans-serif;
    --Dark-blue: #282938;
    --White: #fff;
    --Text-color: #282938;
    --Yellow: #fcd980;
    --Grey: #f4f6fc;
    --Royal-Blue: #2405f2;
}
.pricing p {
    max-width: 562px;
    color: var(--Dark-blue);
    margin: 0 auto;
    text-align: left;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.pricing-card {
    max-width: 400px;
    height: 745px;
    margin-top: 64px;
    text-align: center;
    padding: 48px 62px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Grey);
    transition: 0.5s ease;
}
.pricing .row {
    width: 100%;
    gap: 32px;
}
.pricing-card span {
    width: 95px;
    height: 56px;
    flex-shrink: 0;
    color: var(--Dark-blue);
    font-family: var(--Poppins);
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}
.pricing-card a {
    display: inline-flex;
    align-items: center;
    color: var(--Royal-Blue);
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.pricing-card:hover a {
    color: #fcd980;
}
.pricing-card p {
    max-width: 281px;
    color: var(--Dark-blue);
    opacity: 0.7;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.pricing h6 {
    margin-top: 20px;
    color: var(--Dark-blue);
    font-family: var(--Poppins);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
.card__item {
    margin-top: 80px;
}
.card__desc {
    display: flex;
    margin-top: 20px;
    gap: 32px;
}
.card__desc img {
    width: 24px;
    height: 24px;
}
.card__desc p{
    margin: 0;
}
.pricing-btn {
    margin-top: 70px;
    padding: 15px 50px;
    display: flex;
    width: 254px;
    height: 64px;
    font-family: var(--Poppins);
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--White);
    flex-shrink: 0;
    border-radius: 41px;
    background: var(--Dark-blue);
}
.pricing-card:hover {
    background: #1c1e53;
}
.pricing-card:hover{
    background-color: #1C1E53;
    background-image: url(../../images/ellipce.svg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pricing-card:hover *{
    color: white;
}

.pricing-card:hover .pricing-card-title p{
    color: #FCD980;
}

.pricing-card:hover .pricing-btn{
    background-color: #FCD980;
    color: black;
}
.footer {
    padding: 95px 0;
    background-color: #1c1e53 !important;
}
.logo {
    width: 160px;
    height: 32px;
    color: var(--White);
}
.footer__text {
    max-width: 399px;
    margin-top: 24px;
    color: var(--White);
    opacity: 0.8;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.footer__text:nth-child(2) {
    margin-top: 14px;
}
.form {
    max-width: 517px;
    padding: 18px 35px;
    background: #fcd980;
}
label,
input {
    display: block;
    border: none;
    outline: none;
    background: transparent;
}
label {
    color: var(--Dark-blue);
    font-family: var(--Poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
input::placeholder {
    color: var(--Dark-blue);
    opacity: 0.8;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.form {
    display: flex;
}
.footer__right {
    display: block;
    margin-top: 0;
}
.footer__right h2 {
    max-width: 333px;
    margin-top: 0;
    font-family: var(--Poppins);
    color: var(--White);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}
.footer__icon {
    display: flex;
    gap: 26px;
}
.footer__icon i {
    font-size: 18px;
    color: var(--White);
}

.accordion {
    padding-bottom: 128px;
    width: 100%;
}
.accordion__title {
    max-width: 400px;
    color: var(--Dark-blue);
    font-family: var(--Poppins);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}
.accordion__link {
    margin-top: 16px;
    color: #2405f2;
    text-align: center;
    font-family: var(--Poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    opacity: 0.87;
}
.accordion-custom .accordion-button::after {
    background-image: url("../../images/plus.svg");
}
.accordion-custom .accordion-button:not(.collapsed)::after {
    background-image: url("../../images/minus.svg");
}
.accordion-item h6 {
    margin-left: 50px;
    color: var(--Dark-blue);
    font-family:var(--Poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; 
}
.btn-1:not(.btn-2) {
    border-radius: 41px;
    font-family: var(--Poppins);
    /* background: #FCD980 !important; */
    display: inline-flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
}
@media (min-width: 600px) {
    .accordion {
        padding: 38px 0;
    }
    .form{
     margin: 30px 0;
    }
}

#loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.75);
}

#loading.loading-none {
    opacity: 0;
    z-index: -1;
}

@keyframes ldio-zxbwzzspus {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.ldio-zxbwzzspus div {
    left: 95px;
    top: 48px;
    position: absolute;
    animation: ldio-zxbwzzspus linear 1s infinite;
    background: #cb6f6f;
    width: 10px;
    height: 24px;
    border-radius: 5px / 12px;
    transform-origin: 5px 52px;
}
.ldio-zxbwzzspus div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #cb6f6f;
}
.loadingio-spinner-spinner-9qtw80gtmdb {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}
.ldio-zxbwzzspus {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    transform-origin: 0 0;
}
.ldio-zxbwzzspus div {
    box-sizing: content-box;
}