@import "../themes/var.css";
@import "../base/reset.css";
@import "../layout/header.css";
@import "../layout/footer.css";
@import "../themes/dark.css";
.navbar {
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    background-color: #1c1e53 !important;
}
.work {
    margin-top: 100px;
    width: 100%;
    padding: 95px 0;
    background: var(--Grey);
}
@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
:root {
    --Poppins: "Poppins", sans-serif;
    --Dark-blue: #282938;
    --White: #fff;
    --Text-color: #282938;
    --Yellow: #fcd980;
    --Grey: #f4f6fc;
}
.footer__icon {
    display: flex;
    gap: 26px;
    margin: 0 auto;
    text-align: center;
}
.work__icon {
    width: 300px;
    text-align: center;
    display: flex;
    gap: 26px;
    margin: 0 auto;
    text-align: center;
}
.work__icon i {
    font-size: 18px;
    color: var(--Dark-blue);
}
.footer__icon i {
    font-size: 18px;
    color: var(--White);
}

.template {
    padding: 96px 0 128px;
    width: 100%;
}
.work .text {
    color: var(--Dark-blue);
    opacity: 0.7;
    text-align: center;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.work .title {
    color: var(--Dark-blue);
    text-align: center;
    font-family: var(--Poppins);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}
.subtext {
    width: 100%;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    color: var(--Dark-blue);
    text-align: center;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.template__list {
    max-width: 560px;
    display: flex;
    gap: 32px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.template__link {
    color: var(--Dark-blue);
    opacity: 0.7;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    transition: 0.5s ease;
}
.template__link:hover {
    color: #2405f2;
}
.col-6 h3 {
    margin-top: 24px;
    color: var(--Dark-blue);
    font-family: var(--Poppins);
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}
.col-6 p {
    max-width: 600px;
    margin-top: 12px;
    color: var(--Dark-blue);
    opacity: 0.7;
    text-align: justify;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.template .btn1 {
    color: var(--Dark-blue);
    font-family: var(--Poppins);
    font-size: 15px;
    font-style: normal;
    text-align-last: left;
    margin-left: 0;
    font-weight: 600;
    line-height: 150%;
}
.col-6 img {
    max-width: 545px;
    padding: 30px;
    display: block;
    background: linear-gradient(131deg, #ffd3af 16.74%, #4f56ff 103.17%);
    margin-top: 60px;
}
.subtitle {
    margin-top: 128px;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
    color: var(--Dark-blue);
    text-align: center;
    font-family: var(--Poppins);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}
.subtitr {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    color: var(--Dark-blue);
    opacity: 0.7;
    text-align: center;
    font-family: var(--Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.btn-1:not(.btn-2) {
    border-radius: 41px;
    font-family: var(--Poppins);
    /* background: #FCD980 !important; */
    display: inline-flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
}

#loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.75);
}

#loading.loading-none {
    opacity: 0;
    z-index: -1;
}

@keyframes ldio-zxbwzzspus {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.ldio-zxbwzzspus div {
    left: 95px;
    top: 48px;
    position: absolute;
    animation: ldio-zxbwzzspus linear 1s infinite;
    background: #cb6f6f;
    width: 10px;
    height: 24px;
    border-radius: 5px / 12px;
    transform-origin: 5px 52px;
}
.ldio-zxbwzzspus div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #cb6f6f;
}
.ldio-zxbwzzspus div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #cb6f6f;
}
.loadingio-spinner-spinner-9qtw80gtmdb {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}
.ldio-zxbwzzspus {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    transform-origin: 0 0;
}
.ldio-zxbwzzspus div {
    box-sizing: content-box;
}

.dark .body{
    background: #000;
    color:#fff;
}
.dark *{
    background: #000;
    color:#fff;
}
.dark main{
    background: #000;
    color:#fff;
}
.dark .work p{
    color:#fff;
}
.dark h2{
    color:#fff;
}
.dark h2{
    color:#fff;
}
.dark p{
    color:#fff;
}
.dark .button:nth-child(1){
    box-shadow: 0px 0px 10px 5px #ffd2a4;
}
.dark .card1 p{
    color:#000;
    background: transparent;
}
.dark .card1 h6{
    color:#000;
   background: transparent;
}
.dark input{
    background: transparent;
}
.dark input::placeholder{
    color:#000;
    opacity: .8;
}
.dark label{
    background: transparent;
    color:#000;
    opacity: .9;
}
.dark .title{
    color:#fff;
}
.dark i{
    color:#fff;
}
.dark h3{
    color:#fff;
}
.dark .btn1{
    color:#ffd3af;
}
.dark .col-6 img{
     box-shadow: 0px 0px 10px 5px #ffd2a4;
}